:root {
  --pink: #d40b66;
  --black: #000;
  --orange: #f15a24;
  --blue: #01004c;
  --lightBlue: #0091ce;
  --yellow: #FBCF4A;
  --lightYellow: #fcfcaf;
  --darkRed: #dc0073;
  --green: #0cce6b;
  --greenLight: #1efa81;
  --lightPurple: #812fd9;
  --purple: rgb(92, 0, 96);
  --mediumPurple: #c800ff;
  --gray: grey;
  --back: #e5e9ec;
  --pentomi: #640aff;
  --red: #f0385d;
  --inputBg: #e7f0fe;
  --textColorDark: #2d2d2d;
  --shadow: 0px 0px 18px -3px #e7e5e5;
}

@font-face {
  font-family: text;
  src: url(./assets/fonts/iranyekanwebregular.woff);
}

@font-face {
  font-family: subject;
  src: url(./assets/fonts/iranyekanweblight.woff);
}

@font-face {
  font-family: btnText;
  src: url(./assets/fonts/iranyekanwebregular.woff);
  font-weight: bold;
}

@font-face {
  font-family: fun;
  src: url(./assets/fonts/IRANSansDN-Bold.ttf);
}

html,
#root,
body {
  height: 100%;
  width: 100%;
  direction: rtl;
}
* {
  margin: 0;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

button {
  font-family: btnText;
}

span,
p {
  font-family: text;
}

input {
  font-family: subject;
  background-color: var(--inputBg);
  outline: none;
  border-radius: 5px;
}

.toastify {
  border-radius: 10px !important;
  font-family: text !important;
}
svg {
  margin: 0 5px;
}

a {
  text-decoration: none;
}